/*======================================================== GLobal*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a,
ul,
li,
input,
button {
  text-decoration: none;
  list-style-type: none;
  background: none;
  outline: none;
  border: none;
}

.container {
  max-width: 1280px;
  margin: auto;
}

/*================================================================ navbar*/
.nav-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: rgb(42, 37, 75);
  padding-top: 11px;
  padding-bottom: 11px;
}

.nav-top-text {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
}

.nav-close-icon {
  display: flex;
}

.nav-bottom {
  display: flex;
  padding: 25px 80px;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.52px;
  color: rgb(34, 32, 46);
}

.nav-links {
  display: flex;
  gap: 44px;
}

.nav-link {
  cursor: pointer;
  transition: all 0.3s linear;
  color: rgb(34, 32, 46);
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
}
.nav-link:hover {
  color: rgb(114, 110, 141);
}

.nav-bottom-right {
  display: flex;
  gap: 16px;
}

.menu-bar {
  display: none;
}

@media screen and (max-width: 1050px) {
  .nav-links {
    display: flex;
    gap: 20px;
  }
  .nav-bottom {
    padding: 20px 24px;
  }
  .nav-link {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .nav-top {
    padding: 8px 16px;
    display: flex;
    justify-content: left;
  }
  .nav-links {
    display: none;
  }
  .menu-bar {
    display: block;
  }
}
/*========================================================================= hero section*/
.hero-top-title {
  color: rgb(42, 37, 75);
  font-size: 36px;
  font-weight: 400;
  line-height: 50.4px;
  margin: 0 auto;
  max-width: 704px;
  padding-top: 67px;
  padding-bottom: 79px;
}

@media screen and (max-width: 980px) {
  .hero-bottom-right img {
    width: 100vw;
  }
}
@media screen and (max-width: 767px) {
  .hero-top-title {
    padding: 32px 24px;
    font-size: 32px;
  }
}
/*====================================================================*/
.hero-bottom-left {
  max-width: 50%;
}

.hero-bottom-right img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-bottom {
  margin: 0 auto;
  display: flex;
}

.hero-bottom-left {
  padding-top: 72px;
  padding-right: 20px;
  margin: 0 auto;
}

.hero-bottom-left-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  max-width: 536px;
  margin: 0 auto;
}

.hero-bottom-left-text {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: rgb(80, 89, 119);
  max-width: 536px;
  margin: 0 auto;
}

.hero-bottom-left-btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(42, 37, 75);
  background-color: rgb(249, 249, 249);
  padding: 16px 32px;
  margin-top: 196px;
}

@media screen and (max-width: 1300px) {
  .hero-bottom .container {
    padding: 0 24px;
  }
  .hero-bottom-left {
    padding-top: 60px;
  }
  .hero-bottom-left-btn {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1170px) {
  .hero-bottom-left {
    padding-top: 40px;
  }
  .hero-bottom-left-btn {
    margin-top: 80px;
  }
}
@media screen and (max-width: 1080px) {
  .hero-bottom-left {
    padding-top: 20px;
    padding-right: 20px;
  }
  .hero-bottom-left-btn {
    margin-top: 60px;
  }
}
@media screen and (max-width: 980px) {
  .hero-bottom-left {
    padding-top: 0px;
    padding-right: 20px;
    font-size: 20px;
    padding-left: 24px;
  }
  .hero-bottom-left-text {
    padding-top: 10px;
    font-size: 14px;
  }
  .hero-bottom-left-btn {
    margin-top: 30px;
    padding: 12px 24px;
  }
}
@media screen and (max-width: 800px) {
  .hero-bottom .container {
    padding-left: 0;
    padding-right: 0;
  }
  .hero-bottom {
    flex-direction: column;
  }
  .hero-bottom-left {
    max-width: 100%;
  }
  .hero-bottom-left-title {
    padding-top: 48px;
    max-width: 100%;
  }
  .hero-bottom-left-text {
    max-width: 100%;
  }
  .hero-bottom-left-btn {
    margin-bottom: 38px;
    width: 100%;
    padding: 16px 32px;
  }
  .hero-bottom-right img {
    padding-right: 0;
  }
}
/*=============================================================== service section*/
.service-content {
  margin: 0 auto;
  display: flex;
}

.service-left {
  max-width: 50%;
}

.service-right img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-left {
  padding-top: 72px;
  padding-left: 84px;
  padding-right: 20px;
  margin: 0 auto;
}

.service-left-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  max-width: 536px;
  margin: 0 auto;
}

.service-left-text {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: rgb(80, 89, 119);
  max-width: 536px;
  margin: 0 auto;
}

.service-left-btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(42, 37, 75);
  background-color: rgb(249, 249, 249);
  padding: 16px 32px;
  margin-top: 196px;
}

@media screen and (max-width: 1300px) {
  .service .container {
    padding: 0 24px;
  }
  .service-left {
    padding-top: 60px;
  }
  .service-left-btn {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1170px) {
  .service-left {
    padding-top: 40px;
  }
  .service-left-btn {
    margin-top: 80px;
  }
}
@media screen and (max-width: 1080px) {
  .service-left {
    padding-top: 20px;
    padding-right: 20px;
  }
  .service-left-btn {
    margin-top: 60px;
  }
}
@media screen and (max-width: 980px) {
  .service-left {
    padding-right: 20px;
    font-size: 20px;
    padding-left: 24px;
  }
  .service-left-text {
    padding-top: 10px;
    font-size: 14px;
  }
  .service-left-btn {
    margin-top: 30px;
    padding: 12px 24px;
  }
}
@media screen and (max-width: 800px) {
  .service .container {
    padding-left: 0;
    padding-right: 0;
  }
  .service-content {
    flex-direction: column;
  }
  .service-left {
    max-width: 100%;
  }
  .service-left-title {
    padding-top: 48px;
    max-width: 100%;
  }
  .service-left-text {
    max-width: 100%;
  }
  .service-left-btn {
    margin-bottom: 38px;
    width: 100%;
    padding: 16px 32px;
  }
  .service-right img {
    padding-right: 0;
    width: 100vw;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .service-right {
    height: 390px;
  }
  .service-right img {
    height: 100%;
  }
}
/*======================================================================= brand section*/
.brand {
  padding-top: 60px;
  padding-bottom: 80px;
}

.brand-title {
  color: rgb(42, 37, 75);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  padding-bottom: 51px;
}

.brand-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brand-card {
  max-width: 270px;
}

.brand-card__icon {
  padding-bottom: 16px;
}

.brand-cart__title {
  color: rgb(42, 37, 75);
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.brand-cart__text {
  color: rgb(42, 37, 75);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 1350px) {
  .brand .container {
    padding: 0 24px;
  }
  .brand-card {
    padding-bottom: 36px;
  }
}
@media screen and (max-width: 767px) {
  .brand {
    padding-top: 48px;
    padding-bottom: 0;
  }
  .brand-title {
    text-align: left;
  }
  .brand-card {
    max-width: 100%;
  }
}
/*============================================================== benefits section*/
.benefits-content {
  background: url("../assets/benefits-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 444px;
}

.benefits-title {
  font-size: 32px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 400;
  line-height: 44px;
  padding-top: 97px;
}
.benefits-text {
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  padding-top: 12px;
}
.benefits-icons {
  display: flex;
  justify-content: center;
  gap: 36px;
  padding-top: 30px;
}
.benefits-icon {
  display: flex;
  align-items: center;
  gap: 4px;
}
.benefits-icon p {
  color: rgb(249, 249, 249);
}
.benefits-inp_btn {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 86px;
}
.benefits-inp {
  padding: 17px 205px 17px 32px;
  background: rgb(249, 249, 249);
  margin-right: -4.5px;
}
.benefits-inp::placeholder {
  color: rgb(42, 37, 75);
}
.benefits-btn {
  background-color: rgb(42, 37, 75);
  color: rgb(249, 249, 249);
  padding: 17px 32px;
}

@media screen and (max-width: 650px) {
  .benefits-content {
    text-align: left;
  }
  .benefits-title {
    display: flex;
    align-items: left;
    padding-left: 24px;
    padding-top: 24px;
    text-align: left;
    font-size: 24px;
  }
  .benefits-text {
    display: flex;
    align-items: left;
    text-align: left;
    padding-left: 24px;
    font-size: 14px;
  }
  .benefits-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 24px;
    gap: 8px;
    padding-top: 20px;
  }
  .benefits-inp_btn {
    display: flex;
    align-items: left;
    margin-left: 24px;
  }
  .benefits-inp {
    padding: 17px 75px 17px 32px;
  }
}
@media screen and (max-width: 430px) {
  .benefits-inp {
    padding: 17px 10px 17px 22px;
  }
  .benefits-btn {
    padding: 17px 20px;
  }
}
/*============================================================== footer*/
footer {
  background: rgb(42, 37, 75);
}

.ft-top {
  padding-top: 58px;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}

.ft-links {
  display: flex;
  gap: 133px;
  flex-wrap: wrap;
  gap: 109px;
}

.ft-links ol,
li,
a {
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  color: rgb(255, 255, 255);
}

.ft-links a:hover {
  color: rgb(205, 193, 193);
}

.ft-right-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.68px;
  color: rgb(255, 255, 255);
}

.ft-right-inp_btn {
  margin-top: 16px;
}

.ft-inp {
  padding: 17px 306px 17px 32px;
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

.ft-inp::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: rgb(255, 255, 255);
}

.ft-btn {
  padding: 17px 32px;
  color: rgb(42, 37, 75);
  background: rgb(255, 255, 255);
  margin-left: -6px;
}

.ft-bottom {
  border-top: 1px solid white;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
}

.ft-bottom-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  color: rgb(255, 255, 255);
}

.ft-bottom-icon {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 1270px) {
  .footer .container {
    padding: 0 24px;
  }
  .ft-inp {
    padding: 17px 100px 17px 32px;
  }
}
@media screen and (max-width: 1050px) {
  .ft-top {
    display: flex;
    gap: 40px;
  }
  .ft-right-inp_btn {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 650px) {
  .ft-links {
    gap: 96px;
  }
  .ft-right-inp_btn {
    width: 100%;
    align-items: center;
  }
  .ft-inp {
    padding: 17px 30px 17px 32px;
  }
  .ft-btn {
    padding: 17px 20px;
    margin-top: 0;
  }
  .ft-bottom-icon {
    display: none;
  }
  .ft-bottom-text {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 373px) {
  .ft-inp {
    padding: 16px;
  }
  .ft-btn {
    text-align: center;
    margin-left: -4px;
    margin-top: 10px;
    padding: 18px 12px;
    font-size: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
